body {
    /* background-image: url(../img/vetor-de-fundo-de-meio-tom-roxo-e-rosa_53876-67278.avif);
     */
    background: linear-gradient(to right, #160E28, #2A1A49, #180F2B);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#corpo {
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid #7B7490;
    width: 95%;
}

.linkHeader a {
    color: #E6DAFE;
    text-decoration: none;
}

.opcoes {
    margin: auto;
    padding: 60px 0;
    width: 100%;
    justify-content: center !important;
}

.seccoes {
    margin-bottom: 2px;
    /* min-width: 260px; */
    min-height: 50px;
    background-color: #110F23;
    color: #7B7490;
    font-size: 1.2em;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}

.titulo {
    background-color: #242339;
    height: 100px;
    display: flex;
    align-items: center;
    border: .1px solid grey;
    padding-left: 40px;
}

.titulo .h2 {
    color: #E1D6F9;
    font-size: 1.7em;
    font-weight: 300;
}

.conteudoCorpo {
    background-color: #110F23;
    color: #E1D6F9;
    position: relative;
    padding: 30px 30px 100px 30px;
}

.itemLista {
    list-style: none;
    margin: 10px;
    position: relative;
}

.itemLista::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 12px;
    filter: blur(1px);
    width: 15px;
    background-color: #3C1E75;
    box-shadow: 1px 1px 1px;
    height: 1px;
    z-index: 100;
}

.botoes {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.botao,
.botaoVoltar,
.botaoSeg {
    background-color: lightgrey;
    border-radius: none;
    border: 1px solid #3C1E75;
    padding: 8px 15px;
    color: #3C1E75;
    cursor: not-allowed;
}

.botao:hover,
.botaoVoltar:hover,
.botaoSeg:hover {
    border: 1px solid white;
    font-weight: 400;
    color: #E6DAFE;
    background-color: #110F23;
    transition: background-color 0.3s ease;
}

.botaoVoltar {
    background-color: #110F23;
    color: #E6DAFE;
}

.botaoVoltar:hover {
    background-color: lightgrey;
    color: #110F23;
}

.itemCheckboxClicado {
    background-color: #44415E;
    color: #E1D6F9;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

span {
    margin-right: 15px;
}